* {
  margin: 0px;
  padding: 0px;
}
.mainContainer {
  margin: 0 auto;
  width: 100%;
  height: auto;
  text-align: center;
  background: #fbe4e4;
}
.formSection {
  padding: 40px 20px 20px 20px;
}
.formSection h2 {
  padding-bottom: 20px;
}
.input {
  border: 1px solid #000;
  outline: 0px;
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
}
.button {
  background-color: transparent;
  outline: none;
  border: none;
  position: relative;
  top: 11px;
}
.button svg {
  width: 30px;
  height: 30px;
}
